<section class="products">
  <h2 class="title">Creatar Producto</h2>

  <div class="container">
    <form [formGroup]="productForm">
      <label for="nombre">Nombre</label>
      <input id="nombre" type="text" formControlName="nombre" />
      <br />
      <label for="nombre">Precio Unitario</label>
      <input id="nombre" type="text" formControlName="precioUnitario" />
      <br />
      <label for="nombre">Descripción</label>
      <input id="nombre" type="text" formControlName="descripcion" />
      <br />
      <label for="nombre">existencias</label>
      <input id="nombre" type="text" formControlName="existencias" />
    </form>
  </div>
</section>
