<section *ngIf="producto" class="section-product">
  <h2 class="title">Producto</h2>
  <div class="form">
    <div>
      Nombre:
      <input type="text" [(ngModel)]="producto.nombre" placeholder="nombre" />
    </div>
    <div>
      Precio unitario:
      <input
        type="text"
        [(ngModel)]="producto.precioUnitario"
        placeholder="Precio unitario"
      />
    </div>
    <div>
      Existencias:
      <input
        type="text"
        [(ngModel)]="producto.existencias"
        placeholder="Eistencias"
      />
    </div>
    <div>
      Descripción:
      <input
        type="text"
        [(ngModel)]="producto.descripcion"
        placeholder="descripción"
      />
    </div>
  </div>

  <div class="btn-container">
    <button
      class="btn btn-update"
      (click)="updateProducto(producto)"
      *ngIf="producto.id"
    >
      Update
    </button>
    <button
      class="btn btn-create"
      (click)="createProducto(producto)"
      *ngIf="!producto.id"
    >
      Create
    </button>
    <button class="btn btn-cancel" (click)="cancel()">Cancel</button>
  </div>
</section>
