.catalogs {
  padding-top: 2rem;
  max-width: 80vw;
  margin: 0 auto;
  height: 100%;
  background-color: #ffffff;

  &-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}

.title {
  font-size: 3rem;
  text-align: center;
  color: #3461c9;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

// #customers tr:hover {
//   background-color: #ddd;
// }

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3461c9;
  color: white;
}

.btn-agregar {
  border: none;
  background-color: #3461c9;
  font-size: 1.5rem;
  padding: 10px 20px;
  color: #fff;
  transition: 0.2s all ease-in;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: #234dad;
  }
}

.option {
  width: 50%;
  display: flex;
  justify-content: right;
  margin: 0 auto;
}

.select-option {
  cursor: pointer;
}
